:root {
    --fontFamily: Objektiv VF Trial, sans-serif;
    --foreColor: "000000";
    --hoverForeColor: "000000";
}

body {
}

h1 {
    margin : 0;
}

.foregroundControl {
    color: var(--foreColor);
}

   
