@page "/professors/{Id}/appointments_history"

@inherits BasePage

@namespace MeetCore

<PageTitle>@EnglishLocalization.Appointments @EnglishLocalization.History</PageTitle>

<ApplicationContainer>

    <h3>Appointments History</h3>

</ApplicationContainer>
