@page "/professors/{Id}/profile"

@inherits StateManagablePage

@namespace MeetCore

<PageTitle>@EnglishLocalization.Profile</PageTitle>

<ApplicationContainer>
    <h3>Profile</h3>
</ApplicationContainer>

