@page "/professors/{Id}/active_appointments"

@inherits BasePage

@using static MeetBase.Blazor.PaletteColors

@namespace MeetCore

<PageTitle>@EnglishLocalization.Active @EnglishLocalization.Appointments</PageTitle>

<ApplicationContainer>

    <h3>Active Appointments</h3>

</ApplicationContainer>