@page "/"

@namespace MeetCore

<PageTitle>Index</PageTitle>


<div class="appContainer">
    <div class="loginContainer">
        <img class="loginLogoImage" src="./icons/mortarboard.png" alt="logo"/>

        <MudTextField @bind-Value="@Username"
                      Placeholder="Username"
                      DisableUnderLine="false"
                      FullWidth="true"
                      Variant="Variant.Text"/>

    </div>
</div>



<style>
   
    .loginContainer{

    }

</style>