@page "/secretaries/{Id}/secretary"

@inherits BasePage

@namespace MeetCore

<PageTitle>@EnglishLocalization.Secretary</PageTitle>

<ApplicationContainer>
    <h3>Secretary</h3>
</ApplicationContainer>