@page "/secretaries/{Id}/layout"

@inherits BasePage

@namespace MeetCore

<PageTitle>@EnglishLocalization.Layout</PageTitle>

<ApplicationContainer>

    <div>

        @foreach (var layoutRoom in Elements)
        {
            <LayoutPresenter LayoutRoom="@layoutRoom" IsEditable="true" />
        }

    </div>

</ApplicationContainer>