@page "/secretaries/{Id}"
@page "/secretaries/{Id}/profile"

@inherits BasePage

@namespace MeetCore

<PageTitle>@EnglishLocalization.Profile</PageTitle>

<ApplicationContainer>
    <h3>Profile</h3>
    <div>
        <Schedule/>
    </div>
</ApplicationContainer>