@page "/secretaries/{Id}/information"

@inherits BasePage

@namespace MeetCore

<PageTitle>@EnglishLocalization.Information</PageTitle>

<ApplicationContainer>
    <h3>Information</h3>
</ApplicationContainer>