@page "/"

@using static Atom.Personalization


<PageTitle>AppointMate</PageTitle>

<Header AppName="@AppointMateConstants.AppName" Username="Lime" BackColor="@Blue" />
<Header AppName="@AppointMateConstants.AppName" Username="Lime" BackColor="@BlazeOrange" />

<h1>Hello, world!</h1>

Welcome to your new app.

