@inherits LayoutComponentBase

@using static AppointMate.Personalization
@using static Atom.Blazor.Personalization

<PageTitle>AppointMate</PageTitle>


<div class="page">
    <main>
        @Body
    </main>
</div>

<MudThemeProvider Theme="@mMyTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<style>


    .searchBarContainer {
        position: relative;
        height: 40px;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: @DarkGray.NormalizedColor();
        border: solid 1px @LightGray.NormalizedColor();
        border-radius: @VeryLargeBorderRadius;
        overflow: hidden;
    }

    .searchBarSearchArea {
        position: relative;
        width: 88%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: @LargePadding;
    }

    .searchBarSearchButtons {
        position: relative;
        display: flex;
    }

    .searchButton {
        height: 40px;
    }

    .searchCategoryButton {
        min-width: 180px;
    }


</style>