
@using static MeetBase.Blazor.PaletteColors

@namespace MeetCore


<Header AppName="@MeetCoreContants.AppName"
        ForeColor="@White"
        BackColor="@Amber" />

<div class="appContainer">
    <SideMenu/>
</div>

<style>

    .appContainer {
        position: relative;
        width: 72%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

</style>
